/* Remove default spacing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
header {
    background-color: #2874f0;
    height: 65px;
    display: flex;
    align-items: center;
    padding: 0 40px;
    gap: 25px;
}

/* Logo */
.logo {
    color: white;
    font-size: 28px;
    font-weight: bold;
    font-style: italic;
}

/* Search area */
.search {
    display: flex;
    flex: 1;
    max-width: 600px;
}

.search input {
    width: 100%;
    height: 40px;
    border: none;
    padding: 0 15px;
    font-size: 14px;
    outline: none;
    border-radius: 3px 0 0 3px;
}

.search button {
    height: 40px;
    padding: 0 20px;
    border: none;
    background-color: white;
    color: #2874f0;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0 3px 3px 0;
}
.search-btn:hover {
    background-color: #ddd;
    cursor: pointer;
}
/* Login */
.login button {
    background-color: white;
    color: #2874f0;
    border: none;
    padding: 10px 30px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 3px;
transition: 0.3s;
}
.login button:hover {
    background-color: #f0f0f0;
    transform: scale(1.05);
}

/* Cart */
.cart {
    color: white;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

    .cart:hover {
        color: #ddd;
        transform: scale(1.05);
    }
/* Categories */
.categories {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 5px #ddd;
}

.categories div {
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    line-height: 30px;
    transition: 0.3s;
}
.categories div:hover {
    color: #2874f0;
    transform: translateY(-3px);
}
/* Creative E-commerce Hero Banner */

.banner {
    margin: 20px;
    height: 300px;
    background:
    radial-gradient(circle at 85% 20%, rgba(255,255,255,0.18) 0 70px, transparent 71px),
    radial-gradient(circle at 75% 85%, rgba(255,159,0,0.25) 0 100px, transparent 101px),
    linear-gradient(135deg, #2874f0, #0056d6);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 60px;
    border-radius: 10px;
    box-shadow: 0 5px 15px #aaa;
    position: relative;
    overflow: hidden;
}

/* Left side of banner */

.banner-content {
    width: 55%;
    z-index: 2;
}

.banner-content .offer {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
}

.banner-content h1 {
    font-size: 45px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 5px #003b8f;
}

.banner-text {
    font-size: 18px;
    margin-bottom: 12px;
}

.banner-content h2 {
    font-size: 25px;
    margin-bottom: 18px;
}

.banner-content button {
    background-color: #ff9f00;
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.banner-content button:hover {
    background-color: #e68a00;
    transform: scale(1.08);
    box-shadow: 0 5px 10px #aaa;
}

/* Right side of banner */

.banner-products {
    width: 40%;
    height: 100%;
    position: relative;
}

.floating-product {
    position: absolute;
    width: 90px;
    height: 90px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.floating-product img {
    width: 75px;
    height: 75px;
    object-fit: contain;
    mix-blend-mode: darken;
}

.phone {
    top: 35px;
    left: 20px;
}

.laptop {
    top: 105px;
    right: 20px;
}

.headphones {
    bottom: 20;
    left: 100px;
}

/* Offer badge */

.offer-badge {
    position: absolute;
    right: 90px;
    top: 0;
    background-color: #ff9f00;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    transform: rotate(10deg);
}

.offer-badge span {
    font-size: 13px;
}
 Products */
.products {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px #ddd;
}

.products h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #212121;
}


.product-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.product {
    flex: 1;
    border: 1px solid #ddd;
    padding: 25px;
    text-align: center;
    background-color: white;
    border-radius: 8px;
    transition: 0.3s;
}

.product-image {
    font-size: 70px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product h3 {
    margin: 10px 0;
}

.product p {
    color: green;
    font-weight: bold;
}

.product button {
    margin-top: 15px;
    padding: 8px 15px;
    border: none;
    background-color: #2874f0;
    color: white;
    cursor: pointer;
} .product button:hover {
    background-color: #1255c5;
}
/* Footer */
footer {
    background-color: #172337;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 40px 20px;
    margin-top: 30px;
}

.footer-section h3 {
    margin-bottom: 15px;
    color: #aaa;
}

.footer-section p {
    margin: 8px 0;
    cursor: pointer;
}.product:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px #ccc;
    transition: 0.3s;
}.product-image img {
    width: 120px;
    height: 120px;
    object-fit: contain;
}/* Product prices */
.product-image img:hover {
    transform: scale(1.08);
    transition: 0.3s;
}
.price {
    color: #212121;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

.price span {
    color: #878787;
    font-size: 14px;
    text-decoration: line-through;
    margin-left: 8px;
}

.discount {
    color: green;
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
}.rating {
    color: #f5a623;
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
}
/* Responsive Design */
@media (max-width: 768px) {

    header {
        flex-wrap: wrap;
        height: auto;
        padding: 15px;
    }

    .search {
        order: 3;
        width: 100%;
        max-width: none;
    }

    .categories {
        flex-wrap: wrap;
        gap: 20px;
    }

    .product-container {
        flex-wrap: wrap;
    }

    .product {
        min-width: 200px;
    }

    footer {
        flex-wrap: wrap;
        gap: 30px;
    }
}
.banner button:hover {
    transform: scale(1.1) translateY(-3px);
}
.floating-product img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    border-radius: 12px;
}
.banner-products img {
    width: 75px;
    height: 75px;
    object-fit: contain;
    border-radius: 12px;
}

.floating-product {
    overflow: hidden;
}
/* Decorative banner design */

.banner-products::before {
    content: "🛍️";
    position: absolute;
    right: 120px;
    top: 45px;
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 55px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.banner-products::after {
    content: "⚡";
    position: absolute;
    right: 20px;
    bottom: 35px;
    width: 75px;
    height: 75px;
    background-color: #ff9f00;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
}.products {
    margin: 20px !important;
    padding: 20px !important;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 8px #ddd;
}

.products h2 {
    margin: 0 0 20px 0 !important;
    padding: 0 !important;
    font-size: 24px;
    color: #212121;
}